/* Navigation*/

.navbar {
    background-color: #4B515D;
}

.top-nav-collapse {
    background-color: #4B515D;
}

footer.page-footer {
    background-color: #4B515D;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4B515D;
    }
}